node_modules/
covarege/
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/helpers/http-response.js.html
coverage/lcov-report/helpers/index.html
coverage/lcov-report/helpers/missing-param-error.js.html
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/routers/index.html
coverage/lcov-report/routers/login-router.js.html
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov.info
